body{
    background-color: #f7f1e3;
    padding : 0;
    margin : 0;
    color: #333333;
}
.header{
    text-align: center;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color : #ff6699;
    background-color : #ffcccc;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: fit-content;
}
.main .msg{
    height: fit-content;
    text-align: center;
    width: 50vw;
    word-break: break-word;
    padding: 15px;
    direction: rtl;
    color : #FF1493 ;
    word-spacing: 2px;
    background-color: #FFC0CB;
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.pics{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pics img{
    width : 600px;
    height: 800px;
    padding: 5px;
}
.pics p{
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color : #f70052;
    min-width: fit-content;
    width: 95%;
    background-color:#FFC0CB;
}
.footer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: #ffb5e4 ;
    justify-content: center;
    text-align: center;
    background-color: #FF1493;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.footer .imgs img{
    width: 35%;
    height: 35%;
    padding: 10px;
}
@media ( max-width :800px ) {
    .pics img{
        height: 360px;
        width: 270px;
    }
    .main .msg{
        width: 80%;
    }
}